<div class="announcement-bar">
    <div class="container">
        <p class="announce-text">{{ section.settings.announce_text }}</p>
    </div>
</div>

{% schema  %}
{
    "name":"Announcement Bar",
    "settings": [
        {
            "type": "text",
            "id": "announce_text",
            "label": "Announcement Text",
            "default": "50% OFF for US based delivery!"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color",
            "default": "#EDCCCC"
        }
        
    ]
} 
{% endschema %} 
